# Entorno virtual
.venv/
venv/
.env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.tox/
.coverage
.coverage.*
*.cover
htmlcov/
nosetests.xml
*.log

# Carpetas de datos / salida / estrategias (contenido ignorado, pero permitimos .gitkeep)


data/cache/*
!/data/cache/.gitkeep
indicators_pine
output/*
!/output/.gitkeep

btc
eth
backups
# Archivos de entorno y editores
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store